body{
    background:  #696969;
    
}

.menu, .menu li {
        margin: 0;
       padding: 0;
    margin-top: 10px;
    }

.menu {
        text-align: center; /* пункты и текст горизонтально по центру */
       /*background: #03658e;*/
    }

.menu li{
        display:inline-block;
        text-align: center;
    width: 200px;
    }

.menu a {
    font-family: Arial;
        display: block;
        padding: 5px 15px;
        color:#FFF8DC;
       font-size:150%;
       text-decoration: none;
    }

/*.menu a {
    
    text-decoration: none;
    }

.menu li{
   list-style-type: none;
    }

/*.menu li{
    display:inline-block;
    text-align: center;
    }
.menu a {
    display:inline-block;
    padding: 5px 15px;
    font-size:150%;
    text-decoration: none;
    }
h1,li{
   display:inline-block;
}*/